html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  /* background-color: black; */
}

#root {
  display: flex;
  align-items: center;
  height: 100%;
}

#canvas {
  width: 90%;
  min-width: 300px;
  margin: 0 auto;
  height: 720px;
  opacity: 1;
}